* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: revert;
}

body {
  color: white;
  /* background: rgb(36, 35, 35); */
}

header {
  position: sticky;
  top: 0;
  background: #121D42;
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
  z-index: 99;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1140px;
}

.content-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.logo img {
  position: relative;
  z-index: 999;
  margin-bottom: -107px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
  margin-left: -40px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;
}

nav ul,
nav li {
  margin: 0;
  margin-right: 20px;
  padding: 0;
  text-decoration: none;
  list-style: none;
  display: inline;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.identifier span {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}



.identifier {
  font-family: "Open Sans", sans-serif;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #141575 0%, #11249f 31%, #772bb7 100%);
}

.identifier .text {
  height: 100%;
  text-align: right;
}

.weeks {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.weeks .text h1 a {
  border-radius: 0 5px 0 0;
  width: 100%;
  background: #121D42;
  background: linear-gradient(to right, #141575 0%, #11249f 31%, #141575 100%);
  padding: 5px 10px;
  margin-bottom: 10px;
  display: block;
  color: #BEE200;
  font-size: 2rem;
}
.weeks .text span a {
  color: black
}

.weeks .text {
  flex-grow: 1;
  height: 100%;
  padding-bottom: 10px;
}

.weeks .img img {
  border-radius: 5px 0 0 5px;
  max-width: 100%;
}

.weeks .img {
  border-radius: 5px 0 0 5px;
  background: #6c757d;
  flex-grow: 1;
  width: 50%;
  max-width: 600px;
  min-width: 500px;
  height: auto;
}

.readme li {
  margin-left: 20px;
}
.sub li {
  margin-left: 40px;
  list-style-type: circle;
}

.day-wrapper {
  border-radius: 5px;
  background: #BCABDB;
  margin: 30px 0;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 2fr;
}