@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: white;
  font-family: 'Titillium Web', sans-serif;

  /* background: rgb(36, 35, 35); */
}

header {
  position: sticky;
  top: 0;
  background: #121d42;
  display: flex;
  justify-content: center;
  color: white;
  width: 100%;
  z-index: 99;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 951px;
}

.logo img {
  position: relative;
  z-index: 999;
  margin-bottom: -107px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
  margin-left: -40px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: flex-end;
}

nav li {
  list-style: none;
  display: inline;
}

.nav-link:hover {
  filter: brightness(80%);
}

.nav-link {
  transition: all 0.5s;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
}

.nav-link.active {
  font-weight: 700;
  color: #bee200;
}

.week-header {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #141575 0%, #11249f 31%, #772bb7 100%);
}

.week-header span {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.week-header .text {
  height: 100%;
  text-align: right;
}

.week-wrapper {
  /* this isnt the desktop vers */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.week-wrapper h1 {
  color: #bee200;
  font-size: 4rem;
}

.task-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DescWrapper h1 {
  color: #bee200;
  font-size: 1.5rem;
  width: 80%;
  padding: 20px 0 10px 0;
  border-bottom: 2px solid #bee200;
}

.DescWrapper {
  padding: 30px 20px;
  border-radius: 0 5px 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: initial;
  width: 100%;
  height: 100%;
  background: #211888;
  color: #fff;
}

.task-img img {
  border-radius: 5px 0 0 5px;
  width: 100%;
  max-width: 500px;
}

.task-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 5px 0 0 5px;
  background: #6c757d;
}

.task-list {
  margin: 20px 0;
  width: 245px;
  line-height: 1.6rem;
}

.task-list li {
  color: white;
}

.sub-list li {
  margin-left: 20px;
  list-style-type: circle;
}

.day-wrapper {
  border-radius: 5px;
  margin: 30px 0;
  min-width: 280px;
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.repo-btn img {
  margin-right: 10px;
  width: 100%;
  max-width: 32px;
  height: auto;
}

.repo-btn:hover {
  filter: brightness(80%);
}

.repo-btn {
  transition: filter 0.5s;
  color: black;
  border-radius: 5px;
  margin-top: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #bee200;
  text-decoration: none;
}

/* Medium Tablet and less */
@media only screen and (max-width: 1250px) {
  .wrapper {
    max-width: 960px;
  }

  .logo img {
    margin-left: 30px;
  }
}

/* Small Tablet and less */
@media only screen and (max-width: 820px) {
  header {
    position: relative;
  }

  nav {
    display: none;
  }

  .day-wrapper {
    grid-template-columns: 1fr;
  }

  .task-container {
    padding: 0 30px;
  }

  .task-list {
    width: 75%;
  }

  .repo-btn {
    width: 80%;
  }

  .DescWrapper {
    border-radius: 0 0 5px 5px;
  }
  .task-img img,
  .task-img {
    border-radius: 5px 5px 0 0;
  }
}

/* Phones */
@media only screen and (max-width: 600px) {
  .logo img {
    width: 50%;
    margin-bottom: -50px;
  }

  .task-list {
    width: 65%;
  }

  .task-container {
    padding: 0;
  }

  .text > h1 {
    color: #bee200;
    font-size: 2rem;
  }
}
